# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/

# Streamlit local settings
.streamlit/secrets.toml
